/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    height: auto;
    width: auto;
   }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-radius: 0px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    height: auto;
    width: 120px;
    top: 60%;
    left: 20%;
    margin-left: -10px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
    
  .tooltip .tooltiptext::before
  {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid blueviolet;
  }

    /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }