@font-face {
  font-family: 'Minecraft';
  src: url('./fonts/MinecraftRegular.otf');
}

body {
  font-family:'Minecraft', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}